In [3]:
import pandas as pd
import numpy as np
from numpy import percentile
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib

In [4]:
df = pd.read_csv("data.csv")

In [6]:
gap = list(df['gap'])
gap = pd.Series(gap, index=pd.date_range('1-1-1959', periods=len(gap), freq='D'), name = 'count')

In [7]:
gap

1959-01-01    93134.6
1959-01-02       11.7
1959-01-03       11.7
1959-01-04       11.7
1959-01-05       11.7
               ...
1986-01-20       26.4
1986-01-21       11.7
1986-01-22       26.4
1986-01-23       11.7
1986-01-24       26.4
Freq: D, Name: count, Length: 9886, dtype: float64

In [8]:
gap_df = gap.to_frame()

In [9]:
gap_df

              count
1959-01-01  93134.6
1959-01-02     11.7
1959-01-03     11.7
1959-01-04     11.7
1959-01-05     11.7
...             ...
1986-01-20     26.4
1986-01-21     11.7
1986-01-22     26.4
1986-01-23     11.7
1986-01-24     26.4

[9886 rows x 1 columns]

In [ ]:
plot